---
---

<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link
    href="https://drivero.com.co/es/index.html"
    rel="alternate"
    hreflang="es"
/>
<link
    href="https://drivero.com.co/en/index.html"
    rel="alternate"
    hreflang="en"
/>
<!-- HTML Meta Tags -->
<title>Diego Rivero – Data Scientist & Geospatial Engineer</title>
<meta
    name="description"
    content="I'm Diego, a data scientist and geospatial engineer with lots of experience in GIS data analysis and transformations for BPO and Telecom. Nice to meet you!"
/>

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://drivero.com.co/en" />
<meta property="og:type" content="website" />
<meta
    property="og:title"
    content="Diego Rivero – Data Scientist & Geospatial Engineer"
/>
<meta
    property="og:description"
    content="I'm Diego, a data scientist and geospatial engineer with lots of experience in GIS data analysis and transformations for BPO and Telecom. Nice to meet you!"
/>
<meta property="og:image" content="" />

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="drivero.com.co" />
<meta property="twitter:url" content="https://drivero.com.co/en" />
<meta
    name="twitter:title"
    content="Diego Rivero – Data Scientist & Geospatial Engineer"
/>
<meta
    name="twitter:description"
    content="I'm Diego, a data scientist and geospatial engineer with lots of experience in GIS data analysis and transformations for BPO and Telecom. Nice to meet you!"
/>
<meta name="twitter:image" content="" />

<!-- Meta Tags Generated via https://opengraph.dev -->
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />

<script type="text/javascript">
    let lang = window.navigator.languages
        ? window.navigator.languages[0]
        : null;
    lang =
        lang ||
        window.navigator.language ||
        window.navigator.browserLanguage ||
        window.navigator.userLanguage;

    let shortLang = lang;
    if (shortLang.indexOf("-") !== -1) shortLang = shortLang.split("-")[0];

    if (shortLang.indexOf("_") !== -1) shortLang = shortLang.split("_")[0];

    if (shortLang === "es") {
        window.location.replace("./" + shortLang + "/index.html");
    } else {
        window.location.replace("./en/index.html");
    }
</script>
