---
import { Image } from 'astro:assets';
import sun from '../images/sun.svg';
import moon from '../images/moon.svg';
---

<div class="theme-container" id="dark-mode-toggle">
    <Image src={sun} class="feather feather-sun" alt="Light Mode" width={28} height={28} format={"svg"} />
    <Image src={moon} class="feather feather-moon" alt="Dark Mode" width={28} height={28} format={"svg"} />
</div>

<style>
    .feather {
        object-fit: cover;
    }

    .feather-sun {
        display: block;
    }
    .feather-moon {
        display: none;
    }

    :global(.dark-mode) .feather-sun {
        display: none;
    }
    :global(.dark-mode) .feather-moon {
        display: block;
    }
</style>
