---
const platform = "github";
const username = "isthistechsupport";
import Link from "../components/Link.astro";
import DarkMode from "../components/DarkMode.astro";
const { footerText } = Astro.props;
---

<footer>
    <DarkMode />
    <div>
        <slot />
    </div>
    <!--<div>
        <Social platform="github" username="isthistechsupport" />
        <Social platform="twitter" username="@isthistechsupp" />
        <Social platform="instagram" username="diegorivero1226" />
    </div>-->
</footer>

<style></style>
