---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
import LangSelector from "./LangSelector.astro";
const { lang } = Astro.props;
---

<header>
    <nav>
        <!--<Hamburger />
        <Navigation />-->
        <LangSelector lang={lang}/>
    </nav>
</header>
