---
---

<div class="nav-links">
    <a href="#about">About</a>
    <a href="#skills">Things I know</a>
    <a href="#portfolio">Things I've done</a>
    <a href="#interests">Things I'm learning</a>
    <a href="#likes">Things I like</a>
    <a href="#contact">Contact</a>
</div>
