---
import { astroI18n, extractRouteLangCode, t } from "astro-i18n";

astroI18n.init(Astro);

import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Footer.astro";
import Link from "../../components/Link.astro";
const profilePicture = "/src/images/profile.jpg";
import "../../styles/global.css";

export function getStaticPaths() {
	return [{ params: { lang: "en" } }, { params: { lang: "es" } }];
}

const lang = extractRouteLangCode(Astro.url.toString());
---

<Layout pageTitle={t("pageTitle", "", lang)} profilePicture={profilePicture}>
	<div>
		<h2 id="about">{t("aboutMeTitle", "", lang)}</h2>
		<p>
			{t("aboutMeText", "", lang)}
		</p>
	</div>

	<div>
		<h2 id="skills">{t("skillsTitle", "", lang)}</h2>
		<ul>
			<li>{t("skillsText.dbtText", "", lang)}</li>
			<li>{t("skillsText.eltText", "", lang)}</li>
			<li>{t("skillsText.dataModelingText", "", lang)}</li>
			<li>{t("skillsText.databasesText", "", lang)}</li>
			<li>{t("skillsText.gisText", "", lang)}</li>
			<li>{t("skillsText.publicCloudsText", "", lang)}</li>
			<li>{t("skillsText.dataPlatformsText", "", lang)}</li>
			<li>{t("skillsText.progLangsText", "", lang)}</li>
			<li>{t("skillsText.dockerText", "", lang)}</li>
			<li>{t("skillsText.dataVizText", "", lang)}</li>
			<li>{t("skillsText.dataQAText", "", lang)}</li>
			<li>{t("skillsText.excelText", "", lang)}</li>
		</ul>
	</div>

	<div>
		<h2 id="portfolio">{t("portfolioTitle", "", lang)}</h2>
		<ul>
			<li>
				{t("portfolioText.tootbot.desc", "", lang)}
				<Link
					link="https://github.com/isthistechsupport/tootbot"
					text={t("portfolioText.tootbot.link", "", lang)}
				/>
			</li>
			<li>
				{t("portfolioText.cubeposter.desc", "", lang)}
				<Link
					link="https://github.com/isthistechsupport/shitposting-cube/"
					text={t("portfolioText.cubeposter.link", "", lang)}
				/>
			</li>
			<li>
				{t("portfolioText.ttsForDiscord.desc", "", lang)}
				<Link
					link="https://github.com/isthistechsupport/tts_for_discord/"
					text={t("portfolioText.ttsForDiscord.link", "", lang)}
				/>
			</li>
			<li>
				{t("portfolioText.geih.desc", "", lang)}
				<Link
					link="https://github.com/isthistechsupport/geih/"
					text={t("portfolioText.geih.link", "", lang)}
				/>
			</li>
			<li>
				{t("portfolioText.sqlScripts.desc", "", lang)}
				<Link
					link="https://github.com/isthistechsupport/sql-server-scripts/"
					text={t("portfolioText.sqlScripts.link", "", lang)}
				/>
			</li>
			<li>
				{t("portfolioText.mset.desc", "", lang)}
				<Link
					link="https://github.com/isthistechsupport/mset/"
					text={t("portfolioText.mset.link", "", lang)}
				/>
			</li>
			<li>
				{t("portfolioText.github.desc", "", lang)}
				<Link
					link="https://github.com/isthistechsupport/"
					text={t("portfolioText.github.link", "", lang)}
				/>
				{t("portfolioText.github.desc2", "", lang)}
			</li>
			<li>
				{t("portfolioText.closed.desc", "", lang)}
			</li>
			<li>
				{t("portfolioText.cta.desc", "", lang)}
				<Link
					href="https://pidgin.com.co/"
					text={t("portfolioText.cta.link", "", lang)}
				/>
				{t("portfolioText.cta.desc2", "", lang)}
				<a href="#contact">{t("portfolioText.cta.link2", "", lang)}</a>.
			</li>
		</ul>
	</div>

	<div>
		<h2 id="interests">
			{t("interestsTitle", "", lang)}
		</h2>
		<ul>
			<li>
				<Link link="https://fsharp.org/" text="F Sharp" />
			</li>
			<li>
				<Link link="https://lisp-lang.org/" text="Lisp" />
			</li>
			<li>
				<Link link="https://www.prefect.io/" text="Prefect" />
			</li>
			<li>
				<Link link="https://www.r-project.org/" text="R" />
			</li>
			<li>
				<Link link="https://prql-lang.org/" text="PRQL" />
			</li>
			<li>
				<Link link="https://kubernetes.io/" text="Kubernetes" />
			</li>
			<li>
				<Link link="https://helm.sh/" text="Helm" />
			</li>
			<li>
				<Link link="https://www.rust-lang.org/" text="Rust" />
			</li>
		</ul>
	</div>

	<div>
		<h2 id="likes">{t("likesTitle", "", lang)}</h2>
		<ul>
			<li>{t("likesText.funcProgText", "", lang)}</li>
			<li>{t("likesText.readingText", "", lang)}</li>
			<li>{t("likesText.historyText", "", lang)}</li>
			<li>{t("likesText.artText", "", lang)}</li>
			<li>{t("likesText.musicText", "", lang)}</li>
			<li>{t("likesText.travelText", "", lang)}</li>
			<li>{t("likesText.photoText", "", lang)}</li>
			<li>{t("likesText.cookingText", "", lang)}</li>
			<li>{t("likesText.swText", "", lang)}</li>
			<li>
				<Link
					link="https://mikejacobsen.tumblr.com/post/58177900777/this-is-available-as-a-print-iphone-case-and"
					text={t("likesText.imageText", "", lang)}
				/>
			</li>
		</ul>
	</div>

	<div>
		<h2 id="contact">{t("contactTitle", "", lang)}</h2>
		<ul>
			<li>
				{t("contactText.emailText", "", lang)}: <a
					href="mailto:diego@drivero.com.co">diego@drivero.com.co</a
				>
			</li>
			<li>
				{t("contactText.workEmailText", "", lang)}: <a
					href="mailto:drivero@pidgin.com.co">drivero@pidgin.com.co</a
				>
			</li>
			<li>
				LinkedIn: <Link
					link="https://www.linkedin.com/in/diego-rivero-dataeng/"
					text="linkedin.com/in/diego-rivero-dataeng"
				/>
			</li>
		</ul>
	</div>
	<Footer>
		{t("footerText1", "", lang)}
		<Link link="https://openai.com/product/chatgpt" text="ChatGPT" />{
			t("footerText2", "", lang)
		}
		<Link link={t("footerLink1", "", lang)} text={t("footerText3", "", lang)} />
		{t("footerText4", "", lang)} 
		<Link
			link={t("footerLink2", "", lang)}
			text={t("footerText5", "", lang)}
		/>
		{t("footerText6", "", lang)}
		<Link link="https://codepen.io/" text="codepen.io" />.
	</Footer>
</Layout>
